{% extends 'base_goods.html' %}
{% load static from staticfiles %}

{% block TitleName %}
天天生鲜-商品详情
{% endblock %}

{% block body_context %}
    <div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{ sku.goods.name }}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>
    	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{{ sku.image.url }}"></div>

		<div class="goods_detail_list fr">
            <form action="/cart/add" method="post">
                {% csrf_token %}
                <h3>{{ sku.name }}</h3>
                <p>{{ sku.desc }}</p>
                <div class="prize_bar">
                    <span class="show_pirze">¥<em>{{ sku.price }}</em></span>
                    <span class="show_unit">单  位：{{ sku.unite }}</span>
                </div>
                <div class="goods_num clearfix">
                    <div class="num_name fl">数 量：</div>
                    <div class="num_add fl">
                        <input type="text" class="num_show fl" value="1">
                        <a href="javascript:;" class="add fr" stock="{{ sku.stock }}">+</a>
                        <a href="javascript:;" class="minus fr">-</a>
                    </div>
                </div>
                <div class="total">总价：<em>16.80元</em></div>
                <div class="operate_btn">
                    <a href="javascript:;" class="buy_btn">立即购买</a>
                    <a href="javascript:;" class="add_cart" id="add_cart" sku_id="{{ sku.id }}">加入购物车</a>
                </div>
            </form>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for new in new_sku %}
                        <li>
                            <a href="#"><img src="{{ new.image.url }}"></a>
                            <h4><a href="#">{{ new.name }}</a></h4>
                            <div class="prize">￥{{ new.price }}</div>
                        </li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ sku.spu.detail|safe }}</dd>
				</dl>
			</div>

		</div>
	</div>
{% endblock %}

{% block buttomdiv %}
    <div class="add_jump"></div>
{% endblock %}

{% block buttomFiles %}
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
        <script type="text/javascript">
            var $add_x = $('#add_cart').offset().top;
            var $add_y = $('#add_cart').offset().left;
            var $to_x = $('#show_count').offset().top;
            var $to_y = $('#show_count').offset().left;

            // 计算商品总价
            update_goods_total_price();

            function update_goods_total_price () {
                var count = $('.num_show').val();
                var price = $('.show_pirze').children('em').text();
                // 计算价格
                count = parseInt(count);
                price = parseInt(price);
                var total_price = count*price;
                // 设置价格(2位小数)
                $('.total').children('em').text(total_price.toFixed(2)+'元')
            };

            // 获取+的点击事件
            var stock = $('.add').attr('stock');
            $('.add').click(function () {
                // 进行库存校验
                var count = $('.num_show').val();
                count = parseInt(count) + 1;
                if (stock >= count) {
                    // 设置
                    $('.num_show').val(count);
                    // 更新总价
                    update_goods_total_price();
                } else {
                    alert('该商品库存数量不足')
                }
            });
            // 获取-的点击事件
            $('.minus').click(function () {
                var count = $('.num_show').val();
                count = parseInt(count) - 1;
                // 进行库存校验
                if (count<=0) {
                    count = 1;
                }
                // 设置
                $('.num_show').val(count);
                // 更新总价
                update_goods_total_price();

            });
            // 手动输入数量
            var prev_count = 0;
            $('.num_show').focus(function () {
                prev_count = $(this).val();
                // 重置为空值
                $(this).val('')
            });
            $('.num_show').blur(function () {
                var count = $(this).val();
                {# alert(typeof(count)+':'+typeof (stock)) #}
                // 输入结果验证
                if (isNaN(count) || count.trim().length == 0 ||
                    parseInt(count) <= 0 || parseInt(count) > parseInt(stock)){
                    count = prev_count
                }
                // 设置结果
                $(this).val(count);
                // 更新总价
                update_goods_total_price();
            });
            // 添加购物车
            $('#add_cart').click(function(){
                // 获取数据
                var count = $('.num_show').val();
                var sku_id = $(this).attr('sku_id');
                // post请求安全验证必须参数
                var csrf = $(':input[name="csrfmiddlewaretoken"]').val();
                var param = {'count': count, 'sku_id': sku_id, 'csrfmiddlewaretoken': csrf};
                // $.post(URL,data,callback);
                $.post('/cart/add', param, function (data) {
                    if (data.res == 5) {
                        $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'});
                        // 商品添加成功
                        $(".add_jump").stop().animate({'left': $to_y+7,'top': $to_x+7}, "fast", function() {
                            $(".add_jump").fadeOut('fast', function () {
                                // 设置页面上用户购物车中商品的条目数
                                $('#show_count').html(data.cart_count);
                                $('.num_show').val('1')
                            });
                        });
                    } else {
                        alert(data.msg);
                    }

                })
            })
        </script>
{% endblock %}
