{% extends 'base.html' %}
{% load staticfiles %}
{% block TitleName %}
    天天生鲜-首页
{% endblock %}
{% block headFiles %}
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
{% endblock %}
{% block navbar_con %}
    <div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>
{% endblock %}
{% block body_context %}
	<div class="center_con clearfix">
        <ul class="subnav fl">
            {% for goods_type in goods_types %}
                <li><a href="#model0{{ forloop.counter }}" class="{{ goods_type.logo }}">{{ goods_type.name }}</a></li>
            {% endfor %}
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
                {% for foo in banner %}
                    <li><img src="{{ foo.image.url }}" alt="幻灯片"></li>
                {% endfor %}
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
            {% for pro in promotion %}
                <a href="#"><img src="{{ pro.image.url }}"></a>
            {% endfor %}
		</div>
	</div>
	<div class="list_model">
        {% for goods_type in goods_types %}
            <div class="list_title clearfix">
                <h3 class="fl" id="model0{{ forloop.counter }}">{{ goods_type.name }}</h3>
                <div class="subtitle fl">
                    <span>|</span>
                    {% for foo in goods_type.title %}
                        <a href="#">{{ foo.sku.name }}</a>
                    {% endfor %}

                </div>
                <a href="#" class="goods_more fr" id="{{ goods_type.logo }}_more">查看更多 ></a>
            </div>

            <div class="goods_con clearfix">
                <div class="goods_banner fl"><img src="{{ goods_type.image.url }}"></div>
                <ul class="goods_list fl">
                    {% for goods in goods_type.banner %}
                        <li>
                            <h4><a href="#">{{ goods.sku.name }}</a></h4>
                            <a href="#"><img src="{{ goods.sku.image.url }}"></a>
                            <div class="prize">¥ {{ goods.sku.price }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            </div>
        {% endfor %}
{% endblock %}
