{% extends 'base_center.html' %}
{% load staticfiles %}
{% block TitleName %}
天天生鲜-购物车
{% endblock %}
{% block search_title %}
购物车
{% endblock %}
{% block body_context %}

	<div class="total_count">全部商品<em>{{ total_count }}</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
    {% for sku in sku_list %}
        <ul class="cart_list_td clearfix">
            <li class="col01"><input type="checkbox" name="" checked="checked"></li>
            <li class="col02"><img src="{{ sku.image.url }}"></li>
            <li class="col03">奇异果<br><em>{{ sku.price }}元/{{ sku.unite }}</em></li>
            <li class="col04">{{ sku.unite }}</li>
            <li class="col05">{{ sku.price }}元</li>
            <li class="col06">
                <div class="num_add">
                    <a href="javascript:;" class="add fl">+</a>
                    <input type="text" class="num_show fl" value="{{ sku.count }}">
                    <a href="javascript:;" class="minus fl">-</a>
                </div>
            </li>
            <li class="col07">{{ sku.amount }}元</li>
            <li class="col08"><a href="javascript:;">删除</a></li>
        </ul>
    {% endfor %}

	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked=""></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em>42.60</em><br>共计<b>{{ total_count }}</b>件商品</li>
		<li class="col04"><a href="place_order.html">去结算</a></li>
	</ul>

{% endblock %}
{% block buttomFiles %}
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>
    // 更新总价格和总数量，被选中的
    update_total_price();
    function update_total_price() {
        var price = 0;
        var count = 0;
        // $(selector).each(function(index,element))
        $(':checkbox:checked').parents('.cart_list_td').each(function () {
            // 获取不同ul下的商品价格和数量
            var am = parseFloat($(this).children('.col07').text());
            var num = $(this).find('.num_show').val();
            // 循环相加
            price = price + parseFloat(am);
            count = count + parseInt(num)
        });

        // 设置被选中的商品总价格和总数量  alert(price.toFixed(2));
        $('.settlements .col03').children('em').text(price.toFixed(2));
        $('.settlements .col03').children('b').text(count)
    }

    // 复选框功能去全选和全不选
    $('.settlements :checkbox').change(function () {
        var status = $(this).prop('checked');  //true or false
        $('.cart_list_td :checkbox').prop('checked', status)
        update_total_price()

    });
    $('.cart_list_td :checkbox').change(function () {
        var sStatus = $(this).prop('checked');
        //alert(false==false)   true
        if (sStatus == false){
            $('.settlements :checkbox').prop('checked', '')
        }
        if ($('.cart_list_td :checkbox').prop('checked') == true){
            $('.settlements :checkbox').prop('checked', true)
        }
        update_total_price()
    })



    </script>

{% endblock %}