{% extends 'base_user.html' %}
{% load staticfiles %}

{% block TitleName %}
    天天生鲜-用户中心
{% endblock %}

{% block search_title %}
用户中心
{% endblock %}

{% block right_menu %}
    {# 正文 #}
    <div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
				{% for order in pages %}
				    <ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order.create_time }}</li>
					<li class="col02">订单号：{{ order.order_id }}</li>
					<li class="col02 stress">{{ order.status_name }}</li>
				</ul>
				    <table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {% for goods in order.goods %}
                                    <ul class="order_goods_list clearfix">
									<li class="col01"><img src="{{ goods.sku.image.url }}"></li>
									<li class="col02">{{ goods.sku.name }}<em>{{ goods.price }}元/{{ goods.sku.unite }}</em></li>
									<li class="col03">{{ goods.count }}</li>
									<li class="col04">{{ goods.amount }}元</li>
								</ul>
                                {% endfor %}
							</td>
							<td width="15%">{{ order.total_price|add:order.transit_price }}元
                                (含运费：{{ order.transit_price }})元</td>
							<td width="15%">{{ order.status_name }}</td>
							<td width="15%"><a href="#" class="oper_btn">去支付</a></td>
						</tr>
					</tbody>
				</table>
                {% endfor %}
             <div class="pagenation">
                {% if pages.has_previous %}
                    <a href="{% url 'user:order' page.previous_page_number %}"><上一页</a>
                {% endif %}
                {% for num in page_range %}
                    <a href="{% url 'user:order' num %}" {% if page.number == num %}class="active"{% endif %}>{{ num }}</a>
                {% endfor %}
                {% if pages.has_next %}
                    <a href="{% url 'user:order' page.next_page_number %}">下一页></a>
                {% endif %}
            </div>
		</div>
{% endblock %}