{% extends 'base_user.html' %}
{% load staticfiles %}

{% block TitleName %}
    天天生鲜-用户中心
{% endblock %}

{% block search_title %}
用户中心
{% endblock %}

{% block right_menu %}
    {# 正文 #}
    <div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
				{% for order in pages %}
				    <ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order.create_time }}</li>
					<li class="col02">订单号：{{ order.order_id }}</li>
					<li class="col02 stress">{{ order.status_name }}</li>
				</ul>
				    <table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {% for goods in order.goods %}
                                    <ul class="order_goods_list clearfix">
									<li class="col01"><img src="{{ goods.sku.image.url }}"></li>
									<li class="col02">{{ goods.sku.name }}<em>{{ goods.price }}元/{{ goods.sku.unite }}</em></li>
									<li class="col03">{{ goods.count }}</li>
									<li class="col04">{{ goods.amount }}元</li>
								</ul>
                                {% endfor %}
							</td>
                            {% csrf_token %}
							<td width="15%">{{ order.total_pay }}元
                                (含运费：{{ order.transit_price }})元</td>
							<td width="15%">{{ order.status_name }}</td>
							<td width="15%"><a href="#" class="oper_btn" status="{{ order.order_status }}"
                                               order_id="{{ order.order_id }}">去支付</a></td>
						</tr>
					</tbody>
				</table>
                {% endfor %}
             <div class="pagenation">
                {% if pages.has_previous %}
                    <a href="{% url 'user:order' page.previous_page_number %}"><上一页</a>
                {% endif %}
                {% for num in page_range %}
                    <a href="{% url 'user:order' num %}" {% if page.number == num %}class="active"{% endif %}>{{ num }}</a>
                {% endfor %}
                {% if pages.has_next %}
                    <a href="{% url 'user:order' page.next_page_number %}">下一页></a>
                {% endif %}
            </div>
		</div>
{% endblock %}
{% block buttomFiles %}
<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>
    $('.oper_btn').each(function () {
        // 获取支付状态
        var status = $(this).attr('status')
        if (status == 1){
            $(this).text('去支付')
        }
        else if (status == 4){
            $(this).text('去评价')
        }
        else if (status == 5){
            $(this).text('已完成')
        }
    });

    $('.oper_btn').click(function () {
        // 获取status
        var status = $(this).attr('status');
        var order_id = $(this).attr('order_id');
        // alert(order_id);
        if (status == 1){
            // 进行订单支付
            var csrf = $('input[name="csrfmiddlewaretoken"]').val()
            // 发起ajax post请求，访问/order/apy, 传递参数:order_id
            var params = {'order_id':order_id, 'csrfmiddlewaretoken':csrf}
            $.post('/orders/pay', params, function (data) {
                if (data.res == 3){
                    // 引导用户到支付页面
                    // alert(data.pay_url);
                    window.open(data.pay_url);
                    // 查询用户订单是否支付成功;
                    // 采用ajax post, 访问/order/check, 传递参数:订单id(order_id)
                    $.post('/orders/check', params, function (data) {
                        if (data.res == 3){
                            //lert('支付成功')
                            // 重新加载页面
                            location.reload();
                            $('.oper_btn').text('待评价')
                        }
                        else{
                            alert(data.msg)
                        }
                    })
                }
                else{
                    alert(data.msg)
                }
            })

        }
        else if (status == 4){
            // 跳转到评价页面
            location.href = '/orders/comment/'+order_id
        }
    })
    </script>
{% endblock %}